<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/all.css">
		<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
		<title>Health Track</title>
	</head>
	<body>
		<div class="flex-dashboard">
			<sidebar>
				<div class="sidebar-title">
					<img src="../images/ex003/Health_Track_wm-removebg-preview.png" alt="">
					<h2>Health Track</h2>
				</div>
				<div class="menu">
					<ul>
						<li>
							<i class="fa-solid fa-house-user"> </i>
							<a href="dashboard.html"> Dashboard</a>
						</li>
						<li>
							<i class="fa-solid fa-user"></i>
							<a href="perfil.html"> Perfil</a>
						</li>
						<li>
							<i class="fa-solid fa-scale-unbalanced"></i>
							<a href="weight.html"> Gerenciar peso e altura</a>
						</li>
						<li>
							<i class="fa-solid fa-heart-pulse"></i>
							<a href="pressure.html"> Gerenciar pressão arterial</a>
						</li>
						<li class="selected">
							<i class="fa-solid fa-person-skating"></i>
							<a href="activity.html"> Gerenciar atividades físicas</a>
						</li>
						<li>
							<i class="fa-solid fa-utensils"></i>
							<a href="food.html"> Gerenciar alimentos</a>
						</li>
						<li>
							<i class="fa-solid fa-calculator"></i>
							<a href="imc.html"> Calcular IMC</a>
						</li>
					</ul>
				</div>
			</sidebar>
			<main>
				<header>
					<a href="dashboard.html"> <i class="fa-solid fa-house-user"> </i> Dashboard</a>
					<a href="../index.html"> <i class="fa-solid fa-right-from-bracket"> </i>
						Logout</a>
				</header>
				<div class="main-content">
					<div class="main-content-title">
						<h2>Gerenciar atividades físicas</h2>
					</div>
					<div class="panel-row">
						<button id="registerBtn" class="panel panel-50">
							<i class="fa-solid fa-plus"></i>
							Cadastrar atividade
						</button>
						<button id="viewBtn" class="panel panel-50">
							<i class="fa-solid fa-table"></i>
							Visualizar atividade
						</button>
					</div>
					<section class="registerActivity invisiblee">
						<form id="atividade-form">
							<div class="mb-3">
								<label for="Atividade" class="form-label">Nova atividade fisica</label>
								<input type="text" name="Atividade" class="form-control" id="Atividade">
							</div>
							<button type="submit" class="btn" id="registerActivityBtn">Cadastrar</button>
						</form>
					</section>
					<section class="viewActivity invisiblee">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Data</th>
									<th scope="col">Atividade</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">24/05/2022</th>
									<td>Bike</td>
								</tr>
							</tbody>
						</table>
					</section>
				</div>
			</main>
		</div>
		<script src="../plugins/sweetalert/dist/sweetalert2.all.min.js"></script>
		<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="../plugins/fontawesome/js/all.min.js"></script>
		<script type="module" src="../js/activity/registerActivity.js"></script>
		<script>
			let registerActivity = document.querySelector('.registerActivity');
			let viewActivity = document.querySelector('.viewActivity');

			let registerBtn = document.querySelector('#registerBtn')
			let viewBtn = document.querySelector('#viewBtn');

			let form = document.getElementById('atividade-form')

			form.addEventListener('submit', (e) => {
				e.preventDefault();
			})
			
			registerBtn.addEventListener('click', () => {
				registerActivity.classList.remove('invisiblee')
				viewActivity.classList.add('invisiblee')
			})

			viewBtn.addEventListener('click', () => {
				viewActivity.classList.remove('invisiblee')
				registerActivity.classList.add('invisiblee')
			})	
		</script>
	</body>
</html>